@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Poppins, Arial, Helvetica, sans-serif;
}
body {
  overflow-x: hidden;
}
@media (min-width: 768px) {
  .active {
    color: rgb(2, 2, 209);
  }
}

/* General scroll area */
::-webkit-scrollbar {
  width: 10px; /* Width of the vertical scrollbar */
  height: 10px; /* Height of the horizontal scrollbar */
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey background */
  border-radius: 10px; /* Rounded corners */
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #888; /* Darker grey */
  border-radius: 10px; /* Rounded corners */
  transition: background 0.3s ease; /* Smooth hover effect */
}

/* Scrollbar thumb hover (when the user is hovering over it) */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker shade of grey */
}

/* Optional: Horizontal scrollbar styles */
::-webkit-scrollbar-horizontal {
  height: 12px; /* Horizontal scrollbar height */
}

::-webkit-scrollbar-thumb:horizontal {
  background: #888;
}
